@using Rika_WebApp.ViewModels.Profile
@model ProfileFormViewModel
@{
    
}

<section id="profile-details">
    <div class="container">
        <div class="user-info">
            <form method="post" asp-controller="Profile" asp-action="Details" class="mt-4" novalidate>
                <div class="col-md-6">
                    <label asp-for="@Model.FirstName" class="form-label"></label>
                    <input asp-for="@Model.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.LastName" class="form-label"></label>
                    <input asp-for="@Model.LastName" class="form-control" />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.Email" class="form-label"></label>
                    <input asp-for="@Model.Email" type="email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="@Model.Phonenumber" class="form-label"></label>
                    <input asp-for="@Model.Phonenumber" type="tel" class="form-control" />
                    <span asp-validation-for="@Model.Phonenumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.ProfileImageUrl" class="form-label"></label>
                    <input asp-for="@Model.ProfileImageUrl" type="url" class="form-control" />
                    <span asp-validation-for="@Model.ProfileImageUrl" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.Age" class="form-label"></label>
                    <input asp-for="@Model.Age" class="form-control" />
                    <span asp-validation-for="@Model.Age" class="text-danger"></span>
                </div>

                <div class="col-12 mb-5">
                    <button type="submit" class="btn btn-dark mt-4">Save changes</button>
                </div>
            </form>
            <form asp-action="DeleteAccount" asp-controller="Profile" method="post">
                <button type="submit" class="btn btn-danger mb-5">Delete Account</button>
            </form>
        </div>
    </div>
</section>