@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container">
    <h2>Products</h2>

    <div class="product-list">
        
        <div class="product">
            <h3>@Model.ProductName</h3>
            <p>Unit Price: <span id="unitPrice">@Model.Price</span></p>
            <p>Total Price: <span id="totalPrice">@Model.Price</span></p>

            <form id="addToCartForm" method="post">
                <input type="hidden" name="ArticleNumber" value="@Model.ArticleNumber" />
                <input type="hidden" name="ProductName" value="@Model.ProductName" />
                <input type="hidden" name="Price" value="@Model.Price" />

                <label for="quantity">Quantity:</label>
                <input type="number" name="Quantity" id="quantity" value="1" min="1" oninput="updateTotalPrice()" />

                <button type="button" onclick="addToCart()">Add to Cart</button>
            </form>
        </div>
        
    </div>
</div>